<ngb-carousel *ngIf="images.length >1; else noSlide" [interval]="5000">
	<ng-template ngbSlide *ngFor="let image of images; let i = index">
		<div class="picsum-img-wrapper">
			<img [src]="percorso + image.id + '.jpg'" [alt]="image.label" />
		</div>
		<div class="carousel-caption">
			<h3 >{{image.label}}</h3>
      <div *ngIf="i == images.length -1; ">
        <h4>Immagini finite</h4>
      </div>
		</div>
	</ng-template>
</ngb-carousel>

<!-- <div *ngIf="images.length == 1" class="single-image">
  <img [src]="percorso + images[0].id +'.jpg'" [alt]="images[0].label" />
</div> -->

<!-- <div *ngIf="images.length == 1" class ="picsum-img-wrapper" style="background-color: url('');" -->


  <ng-template #noSlide>
    <div class="single-image">
      <img [src]="percorso + images[0].id + '.jpg'" [alt]="images[0].label" />
    </div>
  </ng-template>

