<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-red">
    <div class="container-fluid">
      <img src="../assets/images/icona-cibando.png" class="icona-cibando" routerLink="home">
      <a class="navbar-brand" routerLink="home">Cibando</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="home"><mat-icon>home</mat-icon>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="ricette"><mat-icon>restaurant</mat-icon>Ricette</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/ricette/new-recipe" ><mat-icon>add</mat-icon>Nuova Ricetta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ><mat-icon>contacts</mat-icon>Contatti</a>
          </li>


          <li class="nav-item user" *ngIf="!authService.isLogged()">
            <a class="nav-link" routerLink="/user/login" ><mat-icon>person</mat-icon>Accedi</a>
          </li>

          <li class="nav-item" *ngIf="authService.isLogged()">
            <mat-icon>person</mat-icon> <span class="name">Ciao {{user.name}}</span>
            <a class="nav-link" routerLink="/user/profilo"> - PROFILO</a>
            <a class="nav-link" (click)="logout()" > - ESCI</a>
          </li>
          <input type="search" class="search-form" [(ngModel)]="ricerca" (keyup.enter)="risultato()">
          <button routerLink="cerca" class="search" (click)="risultato()"> <mat-icon>search</mat-icon>
          </button>
        </ul>
      </div>
    </div>
  </nav>
</header>
