.container-titolo{
  h2{
    margin-top: 30px;
  };

  .paragrafo{
    font-size: 13px;
    text-align: justify;
    margin-top: 30px;
  }

  .foto{
    width: 100%;
  }


}

div#ultimeRicette{
  margin-top: 50px;
  text-align: center;
h2{

  margin-bottom: 10px;
}
}



