.container-titolo{
  h2{
    font-size: 35px;
    color: #8e210b!important;
    font-family: 'Homemade Apple', cursive;
  };

  .paragrafo{
    font-size: 13px;
    text-align: justify;
    margin-top: 30px;
  }
}


