// primary colors
$primary-color-1: #8e210b;
$primary-color-2: #dc553a;

//secondary colors

$secondary-color-1:white;
$secondary-color-2:rgb(126, 125, 125);
$secondary-color-3:rgb(100, 100, 100);
$secondary-color-4:rgb(48, 48, 48);
$secondary-color-5:rgb(0, 0, 0);
