<div class="container">
  <div class="container-form">
    <form class="form" #logForm ="ngForm" (ngSubmit)="onSubmit(logForm.value)">
      <div class="input-form">
      <label class="form-label" for="email">La tua email</label>
      <input type="email"  class="form-login" placeholder="Scrivi la tua email" name="email" ngModel />
      </div>
      <div class="input-form">
        <label class="form-label" for="Password">Password</label>
       <p-password [toggleMask]="true" [feedback]="false" class="form-login" placeholder="inserisci la password" name="password" ngModel></p-password>
     </div>

      <div class="button d-flex justify-content-center entra">
        <button type="submit" class="btn btn-primary btn-lg ">Entra</button>
      </div>
      <div class="allert" *ngIf="loginError">
        {{loginError}}
      </div>
    </form>


  </div>
</div>
<h5 class="text-fra">Se non sei ancora registrato, <a routerLink="/user/registrazione" >Registrati</a> </h5>

<p-toast position="bottom-right"></p-toast>
