<div class="card-container" *ngFor="let recipe of recipes">
  <div class="card">
    <div class="card-image" [ngStyle]="{'background-image': 'url(' +recipe.image +')'}"></div>
    <div class="card-body">
      <h5 class="card-title">{{recipe.title}}</h5>
      <p class="card-text">
        <!-- {{recipe.description}} -->
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic vitae impedit modi sit saepe voluptates dignissimos possimus voluptate, odit explicabo rerum unde aliquam iste accusantium cum. Itaque nam debitis, dolorum vel deserunt, pariatur id quod explicabo praesentium quas cum non exercitationem quo! Nobis, iusto possimus soluta reprehenderit quidem minus quasi!
      </p>
      <a class="btn btn-primary" routerLink="dettaglio/{{recipe.title}}/{{recipe._id}}">Visualizza</a>
    </div>
  </div>
</div>

