<app-header></app-header>
<app-home></app-home>
<app-footer></app-footer>
<!-- <div id="contenitore-switch" [ngSwitch]="colore" >
  <div *ngSwitchCase="'verde'"[style]="'background:' + colore">compare se il colore é VERDE </div>
  <div *ngSwitchCase="'blu'" [style]="'background:' + colore">compare se il colore é BLU</div>
  <div *ngSwitchCase="'rosso'"[style]="'background:' + colore">compare se il colore é ROSSO</div>
  <div *ngSwitchDefault style ="background-color: black;">compare se il colore non é stato scelto</div>
</div> -->

<router-outlet></router-outlet>
