// @import"../../../styles/colors.scss";



.mat-icon {
  -webkit-user-select: none;
  user-select: none;
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 66px;
  width: 30px;
  overflow: hidden;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem -12.25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 21.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


// button.btn.btn-primary.btn-lg {
//   background: $primary-color-1;
//   border: none;
//   color: black;
// }

// input.ng-valid.ng-touched{
//   border: 1px solid rgb(77,169,80);
// }

// input.ng-valid.ng-touched{
//   border: 1px solid rgb(77,169,80);
// }

// input.ng-invalid.ng-touched{
//   border: 1px solid rgb(218, 25, 25);
// }

// p.help.is-danger{
//   margin-top: -13px;
//   color:rgb(191, 27, 27);
//   font-size: 12px;
//   font-weight: 600;
// }

// .colonna-dx{
//   background-image: url("../../../assets/images/foto-registrazione.jpg");
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: bottom;
//   border-radius: 0px 25px 25px 0;

// }

// .check{
//   height: 50px;
//   width: 70%;
//   flex-direction: column;
//   margin-top: 4px;
// }

@import "../../../../styles/colors.scss";

input.ng-invalid.ng-touched{
  border: 1px solid red;
}

input.ng-valid.ng-touched{
  border: 1px solid rgb(7, 216, 7);
}

.colonna-dx{
  background-image: url("../../../../assets/images/foto-registrazione.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  border-radius:  0px 25px 25px 0px;
}
.p-md-5 {
  padding: 1rem !important;
}

.btn{
  background-color: $primary-color-1 !important;
  border: none !important;
}

p.help.is-danger{
  margin-top: 10px;
  color: red;
  font-size: 12px;
  font-weight: 600;
}

.check{
  height: 50px;
  width: 70%;
  flex-direction: column;
  margin-top: 4px;
}


a {
  color: $primary-color-1;
  text-decoration: underline;
}

.btn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: #000;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  border: 0;
  border-radius: 0.375rem;
  opacity: 1.5;
}

.termini{
  font: 400 16px/28px Roboto, sans-serif;
  letter-spacing: .009375em;
  margin: 0 0 -16px!important;
  color: white!important;
}

label.form-label.note {
  margin-left: 50px;
}
