/* You can add global styles to this file, and also import other style files */
//@import"../node_modules/bootstrap/dist/css/bootstrap.css";
@import"~bootstrap/dist/css/bootstrap.css";
@import "./styles/colors.scss";
body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.bg-red, header{
  background-color: $primary-color-1!important; //con questo vado a dire che questo è è più importante di bg red app.component.html
}

nav{
  margin-left: 10px;
}

#main-container{
  padding: 16px;
}



html, body { height: 100%; }


  h2{
    font-size: 35px!important;
    color: $primary-color-1!important;
    font-family: 'Homemade Apple', cursive!important;
  }


.carousel-caption {
  top: 27rem; // il rem è la dimensione che si adatta allo schermo
  bottom: auto;

  h3{
    font-family: "Homemade Apple", cursive;
    font-size: 40px;
    text-shadow: black 2px 3px 3px;
  }
}

.bt-primary{
  background-color: $primary-color-1!important;
  font-weight: 700;
  border: none!important;
}
.testoEvidenziato {
  background-color: yellow;
  width: 400px;
}

.p-password, .p-inputtext{
  width: 100%!important;
  border: none!important;
  height: 20px !important;
}

.p.password, .p-inputtext{
  width: 100%!important;
  float: right;
  border-radius: 0.5rem!important;
}
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
