/* You can add global styles to this file, and also import other style files */
//@import"../node_modules/bootstrap/dist/css/bootstrap.css";
@import"~bootstrap/dist/css/bootstrap.css";
@import "./styles/colors.scss";
body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.bg-red, header{
  background-color: $primary-color-1!important; //con questo vado a dire che questo è è più importante di bg red app.component.html
}

nav{
  margin-left: 10px;
}

#main-container{
  padding: 16px;
}



html, body { height: 100%; }


  h2{
    font-size: 35px!important;
    color: $primary-color-1!important;
    font-family: 'Homemade Apple', cursive!important;
  }


.carousel-caption {
  top: 27rem; // il rem è la dimensione che si adatta allo schermo
  bottom: auto;

  h3{
    font-family: "Homemade Apple", cursive;
    font-size: 40px;
    text-shadow: black 2px 3px 3px;
  }
}

.bt-primary{
  background-color: $primary-color-1!important;
  font-weight: 700;
  border: none!important;
}
.testoEvidenziato {
  background-color: yellow;
  width: 400px;
}

.p-password, .p-inputtext{
  width: 100%!important;
  border: none!important;
  height: 20px !important;
}

.p.password, .p-inputtext{
  width: 100%!important;
  float: right;
  border-radius: 0.5rem!important;
}
/* Importing Bootstrap SCSS file. */

.accordion {
  --bs-accordion-color: #212529;
  --bs-accordion-bg: #fff;
  --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  --bs-accordion-border-color: var(
--bs-border-color);
  --bs-accordion-border-width: 1px;
  --bs-accordion-border-radius: 0.375rem;
  --bs-accordion-inner-border-radius: calc(0.375rem - 1px);
  /* --bs-accordion-btn-padding-x: 1.25rem; */
  --bs-accordion-btn-padding-y: 0rem!important;
  --bs-accordion-btn-color: #212529;
  --bs-accordion-btn-bg: var(
--bs-accordion-bg);
  --bs-accordion-btn-icon: url(
"data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-icon-width: 1.25rem;
  --bs-accordion-btn-icon-transform: rotate(-180deg);
  --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
  --bs-accordion-btn-active-icon: url(
"data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-focus-border-color: #86b7fe;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  --bs-accordion-body-padding-x: 1.25rem;
  --bs-accordion-body-padding-y: 1rem;
  --bs-accordion-active-color: #0c63e4;
  --bs-accordion-active-bg: #e7f1ff;
  margin-left: 45px;
}



.modal-header {
  background-color: $primary-color-1;
}

.modal-footer {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap) * 0.5);
  background-color: var(--bs-modal-footer-bg);
  border-top: var(--bs-modal-footer-border-width) solid var(--bs-modal-footer-border-color);
  border-bottom-right-radius: var(--bs-modal-inner-border-radius);
  border-bottom-left-radius: var(--bs-modal-inner-border-radius);
  background-color: $primary-color-1!important;
}

.btn {
  background-color: #8e210b !important;
  //border: 2px solid black !important;
  color: white!important;
 // border-color: #080707!important;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: #8e210bd4!important;
  border-color: #8e210b!important;
  color: white!important;
  font-size: 20px;
}
.p-link:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #8e210b!important;
}

.container-form .input-form .p-password {
  width: 50.5% !important;
  height: 30px !important;
  border: 1px solid #767575 !important;
  margin-left: 6% !important;
}
@import 'bootstrap/scss/bootstrap';
