.container{
  background-color: #8e210b!important;
  //margin-top: 10px;
  color: white !important;
}
.icona-cibando{
  width: 60px;
  margin-right: 5px;
}
.riga{
  color: white!important;
}
.container-xl, .container-lg, .container-md, .container-sm, .container {
  max-width: 100%;
}
