@import '../../../styles/colors.scss';
// .container{
//   background-color:$primary-color-1!important;
//   //margin-top: 10px;
//   color: white !important;
//   float: left;
//   width: 100%;
//   margin-top: 30px;
//   padding: 16px;
//   height: 200px;
// }
.icona-cibando{
  width: 60px;
  margin-right: 5px;
}
// .riga{
//   color: white!important;
// }
// .container-xl, .container-lg, .container-md, .container-sm, .container {
//   max-width: 100%;
// }

.container-footer{
  background-color: $primary-color-1!important;
    //margin-top: 10px;
    color: white !important;
    float: left;
    width: 100%;
    margin-top: 30px;
    padding: 16px;
    // height: 200px
}

h6 {
  font-family: 'Rubik Iso', cursive!important;
  font-size: 15px;
}
